	<div class="login-container">
		<div class="login-wrapper">
			<div class="panel-info">
				<img src="images/cat-mouse.jpg" />
				<div class="caption">
					<h1>Never scare with such things!</h1>
					<p>Well, sometimes we did, but not really often, trust us</p>
				</div>
			</div>
			<div class="login-box">
				<header>
					<h1 class="logo-login"><a href="#" class="text-hide">Koran Kampus</a></h1>
				</header>
				<p>
					{{ message }}
				</p>
				<section class="form-login">
					<form name="loginForm" ng-submit="login()">
						<div class="input-email">
							<input type="text" name="email" placeholder="your@email.com" ng-model="credentials.email">
						</div>
						<div class="input-password">
							<input type="text" ng-show="showPassword" name="password" value="" placeholder="password" ng-model="credentials.password">
							<input type="password" ng-hide="showPassword" name="password" value="" placeholder="password" ng-model="credentials.password">
						</div>
						<div class="input-checkbox">
							<input type="checkbox" ng-model="showPassword" ng-checked="false" name="rememberMe" value="">&nbsp;&nbsp;&nbsp;&nbsp;Show Password
						</div>
						<button type="submit">Login</button>
					</form>
				</section>
			</div>
		</div>
		<footer>
			<div class="corp">
				<h1>Koran Kampus</h1>
				<ul class="list-footer-menu">
					<li><a href="">Terms of Service</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
					<li><a href="">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
					<li><a href="">Sitemap</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
					<li>&copy;2014 Koran Kampus</li>
				</ul>
			</div>
		</footer>
	</div>