<h1 class="page-title col-md-12">
	<span class="glyphicon glyphicon-calendar"></span>
	&nbsp;Events
</h1>
<div ncy-breadcrumb></div>
<toaster-container></toaster-container>
<div class="event-record-box form-box col-md-12" ng-class="{hidden: isRestricted('eventForm')}">
	<div class="well">
		<div class="title-box">
			<h1>Create New Event</h1>
		</div>
		<div class="new-event-form form-container row">
			<form ng-submit="addNewEvent()">
				<div class="column-one col-md-6">
					<div>
						<label for="event-title">Event title</label>
						<input type="text" name="event-title" placeholder="type event title here" ng-model="new_event.title">
					</div>
					<div>
						<label for="event-date">Date</label>
						<input type="date" name="event-date" ng-model="new_event.date">
					</div>
					<div>
						<label for="event-time">Time</label>
						<input type="time" name="event-time" ng-model="new_event.time">
					</div>
				</div>
				<div class="column-two col-md-6">
					<div>
						<label for="event-description">Description</label>
						<textarea name="event-description" ng-model="new_event.description">

						</textarea>
					</div>
					<button type="submit">Create</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="tasks col-md-12 table-container">
	<div class="list-task list-container">
		<div class="item-list-task-head row list-head-container">
			<div class="title-head col-md-6 col-xs-4">
				Event
			</div>
			<div class="date-head col-md-4 col-xs-4">
				Date
			</div>
			<div class="attended-head col-md-2 col-xs-4 last-head-title">
				Attending
			</div>
		</div>
		<div class="item-list-container list-item-container">
			<div class="item-list-task row list-item" ng-repeat="event in events">
				<div class="title col-md-6 col-xs-4">
					{{event.event_title}}
				</div>
				<div class="date col-md-4 col-xs-4">
					{{event.time | myDateFormat}}
				</div>
				<div class="attended col-md-2 col-xs-4">
					<a class="btn">Yes</a>
					<a class="btn">No</a>
				</div>
			</div>			
		</div>
	</div>
</div>